@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/Arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/Georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
    box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    margin: auto;
    max-width: 1280px;
    position: relative;
    overflow-x: hidden;
    background-color: #545454;
}

a {
    text-decoration: none;
}

.main_wrapper {
    padding-top: 30px;
    background: #FFFFFF;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

/* -----HEADER----- */
header {
    margin: 0;
    padding-bottom: 17px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_logo {
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
}

h1:hover {
    text-shadow: 0px 4px 3px rgba(59, 59, 59, 0.5);
}

.header_logo p {
    margin-top: 10px;
    margin-left: 3px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #292929;
    letter-spacing: 0.1em;
}

.nav_menu {
    display: flex;
	flex-direction: row;
	align-items: stretch;
}

.nav_item {
    margin: 16px 0px 20px 35px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.item_active {
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

.nav_item:hover {
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

#nav_hidden, #icon_nav_hidden{
    display: none;
}

/* -----OUR FRIENDS BLOCK----- */
.our_friends_block {
    background-color: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.our_friends_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    margin: 0px 400px 45px auto;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    text-align: center;
}

.slider_pets {
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    width: 100%;
}

.pet_card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet_card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.pet_card img {
    width: 270px;
    height: 270px;;
}

h4 {
    margin-top: 29px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    letter-spacing: 0.06em;
}

.button_more {
    width: 187px;
	height: 52px;
    box-sizing: border-box;
	border: 2px solid #F1CDB3;
    background-color: transparent;
	border-radius: 100px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	cursor: pointer;
}

.pet_card:hover .button_more {
	background-color : #FDDCC4;
	transition-duration: 0.5s;
	border: 2px solid transparent;
}

.slider_buttons {
    margin: 44px 410px 0 auto;
    display: flex;
    flex-direction: row;
}

.button_active,
.button_disabled,
.button_page {
    height: 52px;
    width: 52px;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    cursor: pointer;
    color: #CDCDCD;
}

.button_active {
    border: 2px solid #F1CDB3;
}

.button_active:hover {
    background: #FDDCC4;
    transition: all 0.5s ease-in;
}

.button_disabled {
    border: 2px solid #CDCDCD;
}

.button_disabled {
    border: 2px solid #CDCDCD;
    cursor: default;
}

.button_page {
    background: #F1CDB3;
    border: none;
    cursor: default;
}

.button_page h4 {
    margin: 0;
    color: #292929;
}

/* ----- FOOTER ----- */
footer {
    background: url(../../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    justify-content: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

footer .text_block {
    display: flex;
    justify-content: space-between;
}

.footer_image {
    margin-top: -7px;
    margin-right: -80px;
}

.footer_image img{
    width: 300px;
    height: 310px;
    display: block;
    margin-right: 0px;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.locations {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.contacts h3 {
    margin: 16px 60px 15px 0px;
    color: #FFFFFF;
    text-align: left;
}

.locations h3 {
    margin: 16px 60px 10px 0px;
    color: #FFFFFF;
    text-align: left;
}

.contacts h4 {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #F1CDB3;
}

.locations h4 {
    margin: 20px 0px 18px 20px;
    color: #F1CDB3;
}

.contacts a,
.locations a {
    display: flex;
    align-items: center;
}

.contacts img {
    margin-top: 5px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {

    .wrapper {
        max-width: 708px;
        margin: auto;
    }
    
    /* -----HEADER----- */
    
    .header_logo {
        padding: 0;
    }

    .nav_menu {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    
    .nav_item {
        margin: 16px 0px 20px 35px;
    }
    
    /* -----OUR FRIENDS BLOCK----- */
    h3{
        margin: 0px 154px 30px auto;
    }
    
    .slider_pets {
        padding: 0px 0px 15px 125px;
    }
   
    .hide {
        display: none;
    }
  
    .slider_buttons {
        margin: 24px 165px 25px auto;
    }
    
    /* ----- FOOTER ----- */
    footer {
        background: url(../../assets/images/footer-gradient-background_768.png);
        background-size: cover;
        height: 639px;
    }
    
    .footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -50px;
    }
    
    footer .text_block {
        display: flex;
        justify-content: space-between;
    }
    
    .footer_image {
        margin: 45px 170px 0px 170px;
    }
    
    .footer_image img{
        margin-left: 33px;
    }
    
    .contacts {
        margin-left: 34x;
        margin-right: 30px;
    }
    
    .locations {
        margin-right: 34px;
    }
    
    .contacts h3 {
        margin: -9px 0px 10px 35px;
    }
    
    .locations h3 {
        margin: -9px 0px 10px 20px;
    }
    
    .contacts h4 {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .locations h4 {
        margin: 20px 0px 18px 20px;
    }
    
    .contacts a{
        margin-top: 3px;
        margin-left: 35px;
    }

    .locations a {
        margin-left: 18px;
    }
    
    .contacts img {
        margin-top: 5px;
        margin-right: 0;
    }

}

@media (min-width: 320px) and (max-width: 767.98px) {
    
    #nav_origin {
        display: none;
    }

    #icon_nav_hidden {
        display: block;
        height: 22px;
        width: 30px;
        margin-top: 18px;
        margin-right: 43px;

    }

    .wrapper {
        max-width: 300px;
        margin: auto;
    }

    /* -----OUR FRIENDS BLOCK----- */
    .our_friends_block {
        padding-top: 42px;
        padding-bottom: 100px;
    }

    h3{
        margin: 0px 8px 25px auto;
        font-size: 25px;
    }

    .slider_pets {
        padding: 15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hide, .hide2 {
        display: none;
    }
    
    h4 {
        margin-top: 35px;
    }

    .slider_buttons {
        margin: 27px 10px 0px auto;
        align-items: center;
    }

    .button_active,
    .button_disabled,
    .button_page {
        margin-right: 10px;
    }
  
    /* -----FOOTER----- */
    footer {
        background: url(../../assets/images/footer-gradient-background_320.png);
        background-size: cover;
        height: 809px;
    }
    
    .footer_content {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin-top: -59px;
    }
    
    footer .text_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footer_image {
        margin: 18px 30px 0px 30px;
    }
    
    .footer_image img{
        margin-left: 0px;
        width: 260px;
        height: 269px;
    }
    
    .contacts {
        margin-left: -8px;
        margin-right: 10px;
    }
    
    .locations {
        margin-right: 20px;
    }
    
    .contacts h3 {
        text-align: center;
        margin: -8px 0px 10px 10px;
    }
    
    .locations h3 {
        text-align: center;
        margin: 20px 0px 10px 10px;
    }
    
    .contacts h4 {
        margin-left: 20px;
        margin-bottom: 15px;
        text-align: justify;
    }
    
    .locations h4 {
        margin: 20px 0px 18px 20px;
        letter-spacing: 0.03em;
    }
    
    .contacts a{
        margin-top: 3px;
        margin-left: 35px;
    }

    .locations a {
        margin-top: 10px;
        margin-left: 0px;
    }
    
    .contacts img {
        margin-top: 5px;
        margin-right: 0;
    }
}